@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:400,400i,700&display=swap');

/*-------------------------------------------------------------------------Navbar*/

.navbar-toggler {
    border: none;
}

.nav-item {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.btn {
    font-family: "Open Sans", sans-serif;
    letter-spacing:3px;
}


/*--------------------------------------------------------------------Hero image*/

.hero-img {
background:url('../../assets/img/hero.jpg') no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 800px;
}

/*--------------------------------------------------------------------Intro Section*/

.intro {
    text-align:center;
    padding-top: 3rem;
    font-family:"Merriweather",serif;
   
}

/*--------------------------------------------------------------------Map Section*/



.search-box {

    background-color:#d0d0d0;
    border:none;
    padding-top:4rem;
}
.custom-select {
    font-family: "Open Sans", serif;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    border:none;
}

.gmap {
    background-color: #d0d0d0;
    min-height: 500px;
}

/*--------------------------------------------------------------------Booking Section*/

.contact {
background:url('../../assets/img/cone.jpg') no-repeat right;
background-size: cover;
padding-right:7rem;
padding-top:3rem;
padding-bottom: 2rem;

}