@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:400,400i,700&display=swap');

/*-------------------------------------------------------------------------Navbar*/

.navbar-toggler {
    border: none;
}

.nav-item {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.btn {
    font-family: "Open Sans", sans-serif;
    letter-spacing:3px;
}


/*--------------------------------------------------------------------Hero image*/

.hero-img {
background:url('../../assets/img/hero.jpg') no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 800px;
}

/*--------------------------------------------------------------------Intro Section*/

.intro {
    text-align:center;
    padding-top: 3rem;
    font-family:"Merriweather",serif; 
    background-color: #fff;
    margin-top:-100px;
}

/*--------------------------------------------------------------------Map Section*/



.search-box {
    text-align:center;
    background-color: #f0f0f0;
    border:none;
    padding-top:1rem;
   
 
       
}
.custom-select {
   
    font-family: "Open Sans", serif;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    border:3px;
    width:90%;
}

.gmap {
    background-color: #d0d0d0;
    min-height: 500px;
    
   
}

.map-icons li button i {
    width: 56px;
    height: 56px;
    padding: 24px 0;
    border-radius: 10%;
    font-size:30px;
    line-height: 12px;
    text-align: center;
    color: #2d2d30;
    background: rgb(255, 0, 0);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.3);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.map-icons li button i:hover {
    
    color: #000000;
    transform:scale(1.05);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.4);
    
}

.icon-row {
    background-color: #62626294;
    margin-top: 2rem;
    
}

.icon-heading {
    padding-top: 3rem;
    font-family: "Open Sans", sans-serif;
    color: #626262;
    
}
.icons {
    padding:0;
}

#rest {
   background-color: rgb(6, 252, 6);
   margin-right: 0;
}

#glass {
   background-color: rgb(0, 110, 255);;
}
#info {
   background-color: rgb(255, 255, 0);
}

/*--------------------------------------------------------------------Booking Section*/

.contact {
padding-right:7rem;
padding-top:6rem;
padding-bottom: 2rem;
}

.form-col {
    background-color: #4285f4;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.45);
    border-radius:10px;
}

#send {
    background-color: #f0f0f0;
}

/*--------------------------------------------------------------------Popular Destinations*/

.dest-section {
    background-color: #f0f0f0;
    padding-top: 6rem;
    padding-bottom:6rem;
}


.dest-section h2,h5{
    font-family:"Merriweather", serif;
    letter-spacing: 1.5px;
    color:#202124;
}

.cards-row {
    margin-top: 2rem;
}

.dest-card {
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);

}











/*-------------------------------------------------------------------------CTA*/
.call-to-action {
background-color:#2d2d30;
background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url('../../assets/img/hero.jpg') no-repeat center  ;
background-size: cover;
height: 15rem;

}


h6 {
    font-size: 3rem;
    padding: 2.5rem;
    margin-bottom: 2rem;
    font-family: "Open Sans", serif;
    font-weight:400;
    letter-spacing: 5px;
    

}

/*-------------------------------------------------------------------------footer*/
.list-inline {
    margin-top: 14px;
    
}

.social-links li a i {
    width: 56px;
    height: 56px;
    padding: 24px 0;
    margin: 20px;
    border-radius: 50%;
    font-size:30px;
    line-height: 12px;
    text-align: center;
    color: #2d2d30;
    background: #d0d0d0;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.social-links li a i:hover {
    background-color: transparent;
    color: #d0d0d0;
    transform:scale(1.5);
   
    
}